@font-face {
    font-family: 'Fieldwork';
    src: url('Fieldwork-Geo-Regular.woff2') format('woff2'),
        url('Fieldwork-Geo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

