@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

/* import font */
@font-face {
  font-family: 'Fieldwork DEMO';
  src: url('../assets/font/Fieldwork-Geo-Fat-Demo.woff2') format('woff2'),
    url('../assets/font/Fieldwork-Geo-Fat-Demo.woff') format('woff'),
    url('../assets/font/Fieldwork-Hum-Hair-Demo.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fieldwork DEMO';
  src: url('../assets/font/Fieldwork-Geo-Fat-Demo.woff2') format('woff2'),
    url('../assets/font/Fieldwork-Geo-Fat-Demo.woff') format('woff'),
    url('../assets/font/Fieldwork-Hum-Hair-Demo.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

/* import font /-end */

@tailwind base;
@tailwind components;
@tailwind utilities;


/* font-family: 'Libre Baskerville', serif; */


body {
  /* font-family: 'Fieldwork DEMO'; */
}

a {
  display: block;
}

.banner {
  background-image: url('../assets/banner.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.title {
  color: #B2DBBA;
  font-size: 90px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  text-align: center;
}

.title span {
  font-family: 'Libre Baskerville', serif;
  font-size: 88px;
  font-style: italic;
  line-height: 120%;
}

.subtitle {
  font-size: 70px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}

.subtitle span {
  font-family: 'Libre Baskerville', serif;
  font-size: 68px;
  font-style: italic;
  line-height: 130%;
}

.mission {
  background-image: linear-gradient(180deg, #091526 0%, #0E203A 122.41%), url('../assets/mission.png');
  background-repeat: no-repeat;
  background-position: right;
}